################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/test/FileContentIndex
/.vs/test/v17
/.vs
